<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIDRxMpX1M_5oeCGf40-TfuoVlmBfb_V4</string>
	<key>GCM_SENDER_ID</key>
	<string>462290262555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>susantlalshrestha.GroceryList</string>
	<key>PROJECT_ID</key>
	<string>grocerylist-78e19</string>
	<key>STORAGE_BUCKET</key>
	<string>grocerylist-78e19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462290262555:ios:300aa16982e6c82fd636be</string>
</dict>
</plist>